<ion-card>
  <ion-card-header>
    <ion-card-title>PaperDoll&Inventory</ion-card-title>
  </ion-card-header>
</ion-card>
<img src="/assets/warrior.jpg" alt="" />
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="2">items</ion-col>
      <ion-col size="2">items</ion-col>
      <ion-col size="2">items</ion-col>
      <ion-col size="2">items</ion-col>
      <ion-col size="2">items</ion-col>
      <ion-col size="2">items</ion-col>
      <ion-col size="2">items</ion-col>
      <ion-col size="2">items</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>