<ion-header>
  <ion-toolbar>
    <ion-title>
      R.E.N.D.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/drag.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Explore the world with us!</ion-card-subtitle>
        <ion-card-title>Random Encounters N' Dungeons</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Please login to continue..
        </p>
        <form [formGroup]="loginForm">
        <ion-item>
        <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
        </ion-item>
        <ion-button (click)="login()" [disabled]="!loginForm.valid" shape="round" color="primary">Login</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
   
</ion-content>
